.container {
    display: flex;
    justify-content: flex-end;
    border: 2px solid;
    margin-bottom: 150px;
}

.container>div {
    padding-left: 20px;
    background-color: green;
    color: white;
    height: 30px;
    margin-right: 10px;

}
#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#dataCustomer{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: 50px;
}

#dataCustomer td, #dataCustomer th {
    border: 1px solid #ddd;
    padding: 8px;
}
#dataCustomer tr:nth-child(even) {
    background-color: #f2f2f2;
}

#dataCustomer tr:hover {
    background-color: #ddd;
}

#dataCustomer th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

#formCus{
    
    padding: 40px;
    border-radius: 5%;
}

tr, th, td{
    padding: 10px;
}

